# Project
.idea/


scoutlab.*

# Windows
Thumbs.db

# Python
*.py[cod]

# Django
*.pot

# local env files
.env

# Angular/Vue
dist
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Protractor
